.text-center {
  text-align: center;
}
.clear-fix {
  clear: both;
}
::selection {
  background-color: #40ed3a;
  color: white;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}




                             /*navbar*/


                             

.navbar {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  border: 2px solid #333;
  border-radius: 18px;
  padding: 0 20px;
  margin: 25px;
  z-index: 10000;
}
.logo {
  font-size: 20px;
  font-weight: 900;
}
.logo span {
  color: #ff6900;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav-links li {
  margin: 0 15px;
  position: relative;
}
.nav-links li::after {
  content: "✦";
  color: #5a7bd8;
  position: absolute;
  right: -18px;
  top: 0;
  font-size: 12px;
}
.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}
.nav-links a:hover {
  color: #ff7a50;
}
.subscribe-btn {
  background: #ffd15b;
  border: 2px solid #333;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 1s ease;
}
.subscribe-btn:hover {
  transform: translateY(-7px);
  transform: translateY(2px);
  box-shadow: none;
}




                                /* hero section*/




.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(255, 241, 133, 0.938);
  border: 3px solid;
  padding: 60px 80px;
  z-index: 1;
}
.bg-shapes {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}
.shape-left {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 150px;
  height: 120px;
  background-color: black;
  transform: rotate(25deg);
}
.shape-right {
  position: absolute;
  top: 200px;
  right: 70px;
  width: 80px;
  height: 80px;
  background-color: #e7000cb0;
  transform: rotate(45deg);
}
.hero-container {
  display: flex;
  align-items: flex-start;
  margin-top: 200px;
  margin-left: 50px;
  margin-bottom: 50px;
}
.left-section {
  width: 48%;
}
.trending {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  box-shadow: 4px 4px 0 #222;
  margin-bottom: 30px;
  transform: rotate(-5deg);
}
.span-content {
  font-size: 80px;
  line-height: 90px;
  margin: 0;
  font-weight: 900;
  text-shadow: 3px 1px #000c;
  margin-bottom: 30px;
}
.red {
  color: #e7000b;
}
.blue {
  color: #155dfc;
}
.hero-content {
  width: 600px;
  height: 150px;
  border: 1px solid black;
  background-color: white;
  padding: 16px;
  box-shadow: 4px 4px 0 #222;
}
.hero-content p {
  font-size: 24px;
  font-weight: 100;
}
.hero-container button {
  font-size: 20px;
  font-weight: 900;
  padding: 10px 20px;
  margin: 10px;
  margin-top: 30px;
  border: 4px solid black;
  cursor: pointer;
  transition: all 1s ease;
  box-shadow: 8px 8px 0 black;
}
.start-reading-btn {
  background-color: black;
  color: white;
}
.watch-btn {
  background-color: white;
  color: black;
}
.hero-container button:hover {
  transform: translateY(-7px);
  transform: translateY(2px);
  box-shadow: none;
}
.hero-image {
  margin-left: 110px;
  width: 500px;
  background: #f8f3e8;
  border: 4px solid black;
  padding: 15px;
  box-shadow: 8px 8px 0 black;
  transform: rotate(2deg);
  transition: all 1s ease;
}
.hero-image img {
  width: 100%;
  display: block;
}
.hero-image span {
  position: absolute;
  top: -20px;
  right: 20px;
  background: #fb2c36;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  transform: rotate(7deg);
  border: 3px solid black;
  box-shadow: 4px 4px 0 black;
}
.hero-image:hover {
  transform: scalex(1.01);
}




                          /*articles*/




.articles {
  width: 100%;
  background-color: #f5f5f5;
}
.artical-container {
  display: flex;
  align-items: flex-start;
  margin-left: 50px;
  margin-bottom: 50px;
}
.top-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-title h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}
.top-title .fresh {
  font-size: 16px;
  line-height: 26px;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 4px 4px 0 black;
  margin-bottom: 30px;
  transform: rotate(2deg);
  margin-left: 90px;
  margin-top: 30px;
}
.left-side .article-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 700px;
  height: 300px;
  border: 3px solid black;
  background-color: white;
  padding: 20px;
  box-shadow: 6px 6px 0 #000000;
  transition: 0.35s all;
  margin-bottom: 30px;
}
.img-box {
  width: 500px;
}
.img-box img {
  width: 100%;
  display: block;
  margin-bottom: 40px;
  border: 2px solid black;
}
.img-box .tag-new {
  position: absolute;
  bottom: 230px;
  left: 220px;
  font-size: 10px;
  font-weight: 700;
  background: #fb2c36;
  color: white;
  padding: 6px 16px;
  transform: rotate(8deg);
  border: 3px solid black;
}
.content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.content .category-yellow {
  position: absolute;
  top: 30px;
  font-size: 10px;
  font-weight: 700;
  background: #ffdf20;
  color: black;
  padding: 6px 10px;
  border: 3px solid black;
  box-shadow: 2px 2px black;
}
.content h3 {
  font-size: 23px;
  font-weight: 800;
  margin-top: 70px;
  transition: 0.3 ease;
}
.content p {
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 10px;
  margin-top: 0;
}
.content .info {
  font-size: 14px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.content .info .likes {
  color: #fb2c36;
}
.img-box .tag-hot {
  position: absolute;
  bottom: 230px;
  left: 220px;
  font-size: 10px;
  font-weight: 700;
  background: #2b7fff;
  color: white;
  padding: 6px 16px;
  transform: rotate(-9deg);
  border: 3px solid black;
}
.content .category-green {
  position: absolute;
  top: 50px;
  font-size: 10px;
  font-weight: 700;
  background: #7bf1a8;
  color: black;
  padding: 6px 10px;
  border: 3px solid black;
  box-shadow: 2px 2px black;
}
.img-box .tag-viral {
  position: absolute;
  bottom: 230px;
  left: 220px;
  font-size: 10px;
  font-weight: 700;
  background: #ad46ff;
  color: white;
  padding: 6px 16px;
  transform: rotate(9deg);
  border: 3px solid black;
}
.content .category-purple {
  position: absolute;
  top: 30px;
  font-size: 10px;
  font-weight: 700;
  background: #fda5d5;
  color: black;
  padding: 6px 10px;
  border: 3px solid black;
  box-shadow: 2px 2px black;
}
.more-btn {
  font-size: 30px;
  background-color: black;
  color: white;
  font-weight: 900;
  padding: 10px 25px;
  margin-bottom: 130px;
  margin-top: 25px;
  margin-left: 170px;
  border: 4px solid black;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 8px 8px 0 black;
}
.more-btn:hover {
  transform: translateY(-7px);
  transform: translateY(2px);
  box-shadow: none;
}
.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
   margin-right: 50px;
}
.trending-card {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  border: 3px solid black;
  padding: 20px;
  box-shadow: 6px 6px 0 #000000;
  transition: 0.35s all;
  margin-top: 50px;
  margin-left: 150px;
  background-color: white;
 
}
.trending-card h2 {
  font-size: 28px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-right: 100px;
}
.item {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 5px;
}
.num {
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
}
.content-trend {
  display: flex;
  flex-direction: column;
}
.content-trend p {
  font-size: 18px;
  margin-bottom: 8px;
}
.details {
  font-size: 15px;
  font-weight: 100;
  color: rgb(185, 170, 170);
  display: flex;
  align-items: center;
  gap: 10px;
}
.num-purple {
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  color: #ad46ff;
}
.categories-box {
  width: 420px;
  background: white;
  border: 3px solid #000000;
  padding: 25px;
  box-shadow: 6px 6px 0 #000000;
  margin-left: 150px;
  margin-top: 80px;
}
.categories-box h2 {
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 25px;
  color: #000000;
}
.category {
  border: 2px solid #000000;
  padding: 18px;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.yellow {
  background-color: #fef9c2;
}
.yellow:hover {
  background: #ffdf20;
  color: white;
  transform: translateX(8px) scale(1.03);
  box-shadow: 4px 4px 0 #000;
  border-color: #000;
}
.green {
  background-color: #dbfce7;
}
.green:hover {
  background: #7bf1a8;
  color: white;
  transform: translateX(8px) scale(1.03);
  box-shadow: 4px 4px 0 #000;
  border-color: #000;
}
.pink {
  background-color: #fce7f3;
}
.pink:hover {
  background: #fda5d5;
  color: white;
  transform: translateX(8px) scale(1.03);
  box-shadow: 4px 4px 0 #000;
  border-color: #000;
}
.categories-box .blue {
  background-color: #dbeafe;
  color: #000000;
}
.blue:hover {
  background: #8ec5ff;
  color: white;
  transform: translateX(8px) scale(1.03);
  box-shadow: 4px 4px 0 #000;
  border-color: #000;
}
.purple {
  background-color: #f3e8ff;
}
.purple:hover {
  background: #dab2ff;
  color: white;
  transform: translateX(8px) scale(1.03);
  box-shadow: 4px 4px 0 #000;
  border-color: #000;
}
.article-card:hover {
  transform: translateY(-12px);
  box-shadow: 12px 12px 0 #111;
}
.article-card:hover h3 {
  color: #ff4d4d;
}
.bluee:hover h3 {
  color: #2563eb;
}
.purplee:hover h3 {
  color: #8b5cf6;
}





                            /*authors*/

.authors{
  width: 100%;
  background-color: #ffd230a9;
  border: 4px solid black;
  z-index: 1;
}
.authors-tittle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}
.under-line{
  width: 180px;
  height: 8px;
  margin: auto;
  background-color: #000;
   transform: rotate(1deg);
}
.authors-tittle h2{
font-size: 48px;
margin-bottom: 0;
font-weight: 900;
}
.authors-tittle p{
font-size: 20px;
font-weight: 600;
color: #525252;
margin-bottom: 20px; ;
}
.authors-card{
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 35px;
  margin: 30px 70px;
  padding:  100px;
}
.authors-card img{
  width: 30%;
  border: 2px solid black;
}
.card{
 width: 33.333%;
  background: #fdf6e3;
  border: 4px solid #222;
  padding: 30px 20px;
  text-align: center;
  position: relative;
  transition: all 0.4s ease;
  box-shadow: 8px 8px 0 #222;
}
.card h2{
  font-size: 30px;
  font-weight: 900;
}
.card h4{
font-size: 16px;
margin-top: 0;
color: #525252;
}
.card p{
   font-size: 15px;
   text-align: center;
   line-height: 26px;
   margin: 5px;
}
.founder{
  background-color:#FEF9C2;
}
.viral{
  background-color: #FCE7F3;
}
.lead{
  background-color: #DBFCE7;
}
.card:hover {
  transform: translateY(-12px);
  box-shadow: 12px 12px 0 #111;
}
.badge {
  position: absolute;
  top: 25px;
  right: 5px;
  padding: 4px 8px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: 3px solid #222;
  text-transform: uppercase;
}
.founder .badge {
  background: #ff4d4d;
}
.lead .badge {
  background: #2563eb;
}
.viral .badge {
  background: #8b5cf6;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.socials a {
  width: 45px;
  height: 45px;
  background: #1d2b53;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}
.socials a:hover {
  transform: scale(1.1);
  background: #f4a621;
  box-shadow: 4px 4px 0 #222;
}
.founder:hover h2 {
  color: #ff4d4d;
}
.lead:hover h2 {
  color: #2563eb;
}
.viral:hover h2 {
  color: #8b5cf6;
}


                    
                    /* comment*/



.comment{
    width:100%;
   border: 4px solid black;
    background:#f7f3ee;
}
.comment-container{
    width:90%;
    margin:auto;
}
.comment-form{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:70px;
}
.comment-tittle{
    text-align:center;
    margin-bottom:80px;
}
.comment-tittle h2{
    font-size:45px;
    font-weight:900;
}
.comment-tittle p{
    font-size:22px;
    margin-top:15px;
}
.under-line{
    width:120px;
    height:6px;
    background:#333;
    margin:25px auto;
}
.comment-flex{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:70px;
}
.comment-left{
    width:45%;
}
.comment-left h2{
    font-size:40px;
    line-height:60px;
    margin-bottom:35px;
    font-weight:900;
}
.comment-box{
    border:4px solid #333;
    padding:17px;
    background:#fff;
    margin-bottom:35px;
}
.comment-box p{
    font-size:16px;
    line-height:42px;
    color:#333;
}
.comment-list{
    display:flex;
    flex-direction:column;
    gap:25px;
}
.comment-list p{
    display:flex;
    align-items:center;
    gap:15px;
    font-size:22px;
    color:#333;
}
.redd{
    background:red;
    border: 2px solid black;
}
.bllue{
    background:blue;
        border: 2px solid black;

}
.purplle{
    background:purple;
        border: 2px solid black;

}
.greenn{
    background:green;
        border: 2px solid black;

}
.join-btn{
    margin-top:35px;
    background:black;
    color:#fff;
    border:none;
    padding:24px 50px;
    font-size:24px;
    font-weight:900;
    cursor:pointer;
    box-shadow:7px 7px 0 #222;
    transition:0.3s;
}
.join-btn:hover{
    transform:translateY(5px);
    box-shadow:3px 3px 0 #222;
}
.comment-right{
    width:50%;
    border:4px solid black;
    padding:30px;
    background:#fff;
}
.comment-right h2{
    display:inline-block;
    background:#f5a623;
    padding:8px 15px;
    margin-bottom:30px;
    font-size:34px;
    font-weight:900;
}
.review{
    border:3px solid #333;
    padding:20px;
    margin-bottom:25px;
}
.review p{
    font-size:21px;
    line-height:36px;
    color:#333;
    margin-bottom:20px;
}
.person{
    display:flex;
    align-items:center;
    gap:15px;
}
.person img{
    width:55px;
    height:55px;
    border:2px solid #333;
    object-fit:cover;
}
.person h4{
    font-size:22px;
}
.person span{
    font-size:14px;
    color:#666;
}
.mark{
    background-color:#FEF2F2;
}
.alex{
    background-color:#EFF6FF;
}
.james{
    background-color:#FAF5FF;
}



                             /*footer*/
                             


.footer{
    width:100%;
    background:black;
    padding:70px 80px 30px;
    color:white;
}
.footer-container{
    display:flex;
    justify-content:space-between;
    gap:70px;
    flex-wrap:wrap;
}
.footer-box{
    flex:1;
}
.logo{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:30px;
}
.icon{
    width:55px;
    height:55px;
    background:white;
    color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
}
.logo h2{
    font-size:40px;
    font-weight:900;
}
.footer-box p{
    color:#ddd;
    line-height:1.8;
    font-size:20px;
}
.footer-box h3{
    font-size:35px;
    margin-bottom:30px;
    font-weight:900;
}
.footer-box ul{
    list-style:none;
}
.footer-box ul li{
    margin-bottom:20px;
    font-size:24px;
    font-weight:700;
    cursor:pointer;
}
.newsletter input{
    width:100%;
    height:65px;
    background:transparent;
    border:2px solid #aaa;
  border: 2px solid yellow;
    padding:0 20px;
    color:white;
    font-size:18px;
    margin-top:25px;
    margin-bottom:20px;
}
.newsletter input::placeholder{
    color:#ccc;
}
.newsletter button{
    width:100%;
    height:65px;
    border:none;
    background:yellow;
    color:#333;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}
.newsletter button:hover{
    transform:translateY(3px);
}
.footer-bottom{
    margin-top:60px;
    padding-top:30px;
    border-top:2px solid #cfcfcf;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
}
.footer-bottom p{
    font-size:18px;
    color:#ddd;
}
.links{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}
.links a{
    color:#ddd;
    text-decoration:none;
    font-size:18px;
    font-weight:700;
}
.links a:hover{
    color:yellow;
}
.footer-box ul li:hover{
    color:yellow;
}
